<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright">Powered by <a href="https://ghost.org/">Ghost</a>, hosted by <a href="https://aws.amazon.com/ec2/">AWS EC2</a></span>
    <span class="footer__copyright"><a href="https://github.com/onevcat/vno">Vno</a> theme by <a href="http://im.onevcat.com">@onevcat</a></span>
</footer>